@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Information </h1>
    <p>
        Please Log in to show the projects and information.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>List of works</h3>
        <ul>
            <li>Navigation</li>
            <li>Security</li>
            <li>Entity Framwork</li>
            <li>Data Annotation</li>
            <li>Data Validation</li>
            <li>Ajax</li>
        </ul>
    </div>
</div>

